div {
  animation: carre 4s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-iteration-count: 2;
}
@keyframes carre {
    0%{
      margin-top: 0%;
      margin-left: 0%;
    }
    25%{
      margin-top: 0%;
      margin-left: 10%;
    }
    50%{
      margin-top: 10%;
      margin-left: 10%;
    }
    75%{
      margin-top: 10%;
      margin-left: 0%;
    }
    100%{
      margin-top: 0%;
      margin-left: 0%;
    }
}
div:hover{
  animation-play-state: paused;
}
h2{
  
  animation: rebondir 2s infinite alternate;
  position: relative;

}
@keyframes rebondir{
  0%{
    
    transform: scaleY(2);
    transform: scaleX(2);
    transform-origin: 0 0;
    bottom: 0px;   
  }
  
  100%{
    
    transform: scaleX(1);
    transform:scaleY(2);
    transform-origin: 0 0;
    bottom: 100px;

    
  }
}


